<hr id="break">
<div class="container">
  <div class="row">
    <div class="col-left col-4">
	<div class="display-pic" >
		<img class="dp" src="assets/images/dp.jpg">
		<i class="fa fa-camera"></i>
		</div>
		<div class= "bio">
		<h2>Olumide Koyenikan</h2>
		<h6>Java Backend Developer</h6>
		<nav> 
		<span><a href="http://github.com/koyex1"><i class="social fa fa-github"></i></a></span>
		<span><a href="http://leetcode.com/koyex1"><i class="social fa fa-laptop"></i></a></span>
		<span><a href="https://www.linkedin.com/in/olumide-koyenikan-951a4a95/"><i class="social fa fa-linkedin"></i></a></span>
		</nav>
		<br>
		<p>I am a Java Backend developer with a strong desire to equip myself with the imperative skills and abilities required to achieve the depth of knowledge necessary to become an extremely good developer.  I also have cultivated the skills and positive attitude to deal with every challenges encountered. So yeah, I am that guy in a team with a can-do attitude
</p>
		
		<div>
		<img class="spring" src="assets/images/spring.png"/> 
		</div>
		
		</div>
    </div>
    <div class="col-right col d-flex flex-column bd-highlight mb-3">
	<div class="row-one p-5 bd-highlight"><i class="fa fa-wrench">Skills</i>
	<nav>
	<span class="skill" >Java</span>
	<span class="skill" >Python</span>
	<span class="skill" >JavaScript</span>
	<span class="skill" >C</span>
	<span class="skill" >MySql</span>
	</nav>
	<br>
	<nav>
	<span class="skill" >JavaScript</span>
	<span class="skill" >AngularJs</span>
	<span class="skill" >Apache Tomcat</span>
	<span class="skill" >Jsp</span>
	<span class="skill" >SpringBoot</span>
	<span class="skill" >REST API</span>
	<span class="skill" >Spring Security</span>
	<span class="skill" >JavaScript</span>
	<span class="skill" >Maven</span>
	</nav>
	<br>
	<nav>
	<span class="skill" >Algorithm</span>
	<span class="skill" >Data Structure</span>
	</nav>
	
	</div>
	<div class="row-one p-5 bd-highlight"><i class="fa fa-graduation-cap">Education</i>
	<h5>University of Benin</h5>
	<p>Electrical and Electronic Engineering 2012 -2017</p>
	<p>First Class Honors</p>
	
	</div>
	<div class="row-one p-5 bd-highlight"><i class="fa fa-child">Interests</i>
	<nav>
	<span class="skill" >Swimming</span>
	<span class="skill" >Playing Piano</span>
	<span class="skill" >Playing boardgames</span>
	<span class="skill" >Watching tech shows</span>
	<span class="skill" >Watching documentaries</span>
	<span class="skill" >Reading Broadly</span>
	</nav>
	</div>
	<!-- <div class="row-one p-5 bd-highlight"><i class="fa fa-folder">Portfolio</i>
	<p><strong>Coming Soon:</strong>  Something Really Big</p></div>,-->
	<div class="row-one p-5 bd-highlight"><i class="fa fa-id-card">Contact</i>
	<nav> 
	<span class="contact" ><i class="fa fa-phone"></i><strong>Mobile :</strong>+2347060511939</span>
	<span class="contact" ><i class="fa fa-at"></i><strong>Email :</strong> olumide.koyenikan@gmail.com</span>
	</nav>
	</div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>