/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

#break{
background-color: #fffff;
border-width: 5px;
}
.bio{
margin: 5%;
}
.github{
color: black;
}

.gitlab{
background-image: url("assets/images/gitlab.png");
height: 30px;
width: 30px;
background-size:contain;
display: inline-block;
}

.leetcode{
background-image: url("assets/images/leetcode.png");
height: 30px;
width: 30px;
background-size:contain;
display: inline-block;
}
.container{
background-color: #E9E9E9;
}
.contact{
margin-right: 15px;
}
.col-left,.col-right{
border: 1px solid #E9E9E9;
height: 100%;
padding: 0px;
margin-bottom: 0px;
}
.skill{
background-color: #E9E9E9;
margin-right:5px;
border-radius: 4px;
}
.row{
background-color: #E9E9E9;
}
.display-pic{
width:90%;
height: 90%;
margin:4%;
margin-top: 7%;
}

.spring{
width: 25%;
height: 25px;
margin-left: 20px;
}
.react{
width: 7%;
}

.social{
font-size: 35px;
margin-right: 40px;
}
.dp{
width: 100%;
height: 100%;
}
.col-left{
border-right: hidden;
background-color: #FDF8FA;
}
.col-right{
border-bottom: hidden;
background-color: white;
position: -webkit-sticky;
position: sticky;

}
.fa-camera{
font-size : 30px;
margin-top: 3px;
position: relative;
top: -40px;
left: 10px;
}
body{
font-family: "Comic Sans MS";
background-color: #E9E9E9;
height: 100%;
z-index: -1;
}
.row-one{
margin:0px;
padding:0px;
width: 100%;
height: 100%;
border-bottom: 2px solid #E9E9E9;
color: #9C968D;
}
.portfolio{
background-color: green;
height: 400px;
width: 600px;
margin-top: 50px;
display: block;
}


@media only screen and (max-width: 782px){
.col-left, .col-right{
flex: 100%;
}
.col-left{
 min-width: fit-content;
}

.container{
margin:0px;
}
}